body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C8E6C9;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  h2 {
    margin-top: 40px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #00796B;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #388E3C;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  #addProductBtn {
    margin-top: 20px;
  }
  